
@media screen and (min-width:320px) {
    
    
    body{
        background-color:beige;
    }
    
    h1{
        display: flex;
        background-color: #029356;
        color: #cfebb6;
        font-family: 'Verdana';
        font-size: 25pt;
        border: solid #cfebb6;
        justify-content: center;
        margin: 10%;
        border-radius: 5pt;
    }
    
    nav{
        display: block;
        width: 100%;
        justify-content: center;
        padding-top: 10%;
    }

    img{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        border: dashed 2pt;
        border-color: #029356;
        border-radius: 2%;
    }
    
    .skip{
        position: absolute;
        margin-top: -40px;
    }
    
    .skip:focus{
        margin-top: 2px;
        margin-left: 10px;
        padding: 10px;
    }
    
    .skip:hover{
        color: black;
    }

    h2{
        font-weight: bold;
        color: #029356;
        font-family: 'Verdana';
        font-style: oblique;
        font-size: 150%;
        text-align: center;
        margin-bottom: 5%;
    }
    #flower{
        padding-left: 10%;
        padding-right: 10%;
    }

    h3{
        color: #029356;
        font-family: 'Verdana';
        font-size: 15pt;
        font-style: oblique;
        text-align: center;
        border: solid #029356 2px;
        display: flex;
        justify-content: center;
        margin: 10%;
       
    }

    video{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        border: dashed 2pt;
        border-color: #029356;
        border-radius: 2%;
    }

    p{
        font-family: 'Verdana';
        font-style: oblique;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        padding: 5%;
    
    }

    #p1{
        border-radius: 4pt;
        color:#029356;
        border-top: solid;
        border-left: solid;
        border-right: solid;
    }

    #p2{
        border-radius: 4pt;
        color:#029356;
        border-bottom: solid;
        border-left: solid;
        border-right: solid;
        margin-bottom: 15%;
    }   
    
    #p3{
        margin-top: 5%;
        border: solid;
        color:#029356;
        border-radius: 4pt;
        margin-bottom: 15%;
    }
    
    #current{
        /* color: black; */
        /* background-color: #029356; */
        border: solid;
        border-radius: 5pt;
        padding: 10%;
    }

    @media (prefers-reduced-motion: reduce) {
        .gif {
          /* Stop the animation */
          animation: none;
        }

        #monetgif{
            background-image: url('../images/MonetsGardenGif.jpg');
        }

        #yellowstonegif{
            background-image: ;
        }

        #guangtower{
            background-image: ;
        }

        #sangif{
            background-image: ;
        }
      }

    ul a{
        color: #029356;
        font-family: Verdana;
        text-decoration: underline;
        /* border: solid;
        padding: 6pt;
        background-color: #cfebb6; */
        /* border-radius: 4pt; */
    }
    
    ul a:hover{
        color: black;
    }
    
    nav ul{
        font-family: Verdana;
        text-align: center;
        border: solid burlywood;
        background: moccasin;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5%;
    }

    div div h3{
        border: none;
        margin: 0%;
        font-weight: bold;
    }
    div div{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 5%;
        border: solid #029356;
        border-radius: 5pt;
        display: block;
    }



    nav ul li{
        display: inline-block;
        color: #029356;

    }
    
    div ul {
        width: 80%;
        margin-left: 15%;
        margin-right: 10%;
        display: block;
        padding-top: 5%;
    }

    div ul li{
        list-style-type: disc;
        color: #029356;
        
    }

    ul li{
        color: #029356;
    }

    .column{
        border: none;
    }
    
    figcaption{
        text-align: center;
        color: #029356;
        padding: 7%;
    }

    span{
        display: flex;
        color:#029356;
        justify-content: center;
    }

    div img{
        margin-top: 5%;
    }

    #grid{
        display: grid;
        grid-template-columns: 60% 60%;
        align-items: stretch;
        align-content: center;
        justify-content: center;
    }

    ol{
        list-style-type: decimal;
        color: #029356;
        padding-left: 15%;
        padding-right: 10%;
    }

    .source{
        border: none;
        display: flex;
        justify-content: center;
        padding-bottom: initial;
    }

    #bonapp{
        text-decoration: underline;
    }

    #bonapp:hover{
        color:black;
    }

    .monet{
        border-radius: 4pt;
        padding-top: 5%;
        border: solid burlywood 2pt;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .yellowstone{
        border-radius: 4pt;
        margin-top: 10%;
        padding-top: 5%;
        border: solid burlywood 2pt;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .Guangzhou{
        border-radius: 4pt;
        margin-top: 10%;
        padding-top: 5%;
        border: solid burlywood 2pt;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .sanfran{
        border-radius: 4pt;
        margin-top: 10%;
        padding-top: 5%;
        border: solid burlywood 2pt;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .odie{
        border-radius: 4pt;
        padding-top: 5%;
        border: solid burlywood 2pt;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .basil{
        border-radius: 4pt;
        margin-top: 10%;
        padding-top: 5%;
        border: solid burlywood 2pt;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .bacon{
        border-radius: 4pt;
        margin-top: 10%;
        padding-top: 5%;
        border: solid burlywood 2pt;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .bear{
        border-radius: 4pt;
        margin-top: 10%;
        padding-top: 5%;
        border: solid burlywood 2pt;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .york{
        border-radius: 4pt;
        margin-top: 10%;
        padding-top: 5%;
        border: solid burlywood 2pt;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .jingle{
        border-radius: 4pt;
        margin-top: 10%;
        padding-top: 5%;
        border: solid burlywood 2pt;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .zack{
        border-radius: 4pt;
        margin-top: 10%;
        padding-top: 5%;
        border: solid burlywood 2pt;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .white_sauce{
        border-radius: 4pt;
        padding-top: 5%;
        border: solid burlywood 2pt;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .sushi{
        border-radius: 4pt;
        margin-top: 10%;
        padding-top: 5%;
        border: solid burlywood 2pt;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .tomato_basil{
        border-radius: 4pt;
        margin-top: 10%;
        padding-top: 5%;
        border: solid burlywood 2pt;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    }