
@media screen and (min-width:320px) {
    
    
    body{
        background-color:beige;
    }
    
    h1{
        display: flex;
        background-color: #5ba300;
        color: #cfebb6;
        font-family: 'Verdana';
        font-size: 25pt;
        border: solid #cfebb6;
        justify-content: center;
        margin: 10%;
        border-radius: 5pt;
    }
    
    nav{
        display: block;
        width: 100%;
        justify-content: center;
        padding-top: 10%;
    }

    img{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        border: dashed;
        border-radius: 2%;
    }
    
    .skip{
        position: absolute;
        margin-top: -40px;
    }
    
    .skip:focus{
        margin-top: 2px;
        margin-left: 10px;
        padding: 10px;
    }
    
    .skip:hover{
        color: black;
    }
    
    .monet{
        padding-top: 5%;
        border: solid black 2pt;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    h2{
        color: #029356;
        font-family: 'Verdana';
        font-style: oblique;
        font-size: 150%;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 5%;
    }
    #flower{
        padding-left: 10%;
        padding-right: 10%;
    }

    h3{
        color: #029356;
        font-family: 'Verdana';
        font-size: 15pt;
        font-style: oblique;
        text-align: center;
        border: solid #029356 2px;
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
       
    }
    p{
        font-family: 'Verdana';
        font-style: oblique;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        padding: 5%;
    
    }

    #p1{
        border-radius: 4%;
        border-top: solid;
        border-left: solid;
        border-right: solid;
    }

    #p2{
        border-radius: 4%;
        border-bottom: solid;
        border-left: solid;
        border-right: solid;
        margin-bottom: 15%;
    }    
    
    ul{
        color: #cfebb6;
        font-family: Verdana;
        text-align: center;
        border: solid burlywood;
        background: moccasin;
        display: flex;
        justify-content: space-around;
        padding: 3%;
        
    }
    
    ul a{
        color: #029356;
        font-family: Verdana;
        text-decoration: underline;
    }
    
    ul a:hover{
        color: black;
    }
    
    nav ul li{
        display: inline-block;
        color: #029356;
    }
    
    ul li{
        color: #029356;
    }

    .column{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 10%;
    }
    
    figcaption{
        text-align: center;
    }

    .first{
        display:block;
        align-items: center;
    }

    #od_vid{
        justify-content: center;
    }

    .yellowstone{
        margin-top: 25%;
    }

    }